
.form {
  width: 300px;
  margin: auto;
  margin-top: 100px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

button:hover {
  background-color: #45a049;
}

/* Optional: Style for disabled inputs */
input:disabled,
select:disabled {
  background-color: #f2f2f2;
  color: #888888;
}

/* Optional: Style for radio buttons */
input[type="radio"] {
  margin-right: 10px;
}

.gender-block, label{
  display: flex;
  margin-bottom: 0px;
}

/* Optional: Add some spacing between elements */
br {
  margin-bottom: 10px;
}

p {
  margin-top: 10px;
  margin-bottom: 0;
}
